.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;

}

label {
    color: tomato;
    font-size: 13px;
    border-bottom: 0.5px solid tomato;
    width: max-content;
    margin: 3px 0;
}

.description {
    font-size: 14px;

}

.stars {}

.star {
    color: gold;
}

.username {
    text-transform: capitalize;
    font-size: 14px;
}

.date {
    font-size: 12px;
}

.toFront {
    z-index: 100;
}

.marker {
    cursor: pointer;
}

form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
    font-size: 12px;
    color: lightgrey;
}

.submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
}