.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;

}

label {
    color: tomato;
    font-size: 13px;
    border-bottom: 0.5px solid tomato;
    width: max-content;
    margin: 3px 0;
}

.description {
    font-size: 14px;

}

.stars {}

.star {
    color: gold;
}

.username {
    text-transform: capitalize;
    font-size: 14px;
}

.date {
    font-size: 12px;
}

.toFront{
    z-index: 100;
}

.marker{
    cursor: pointer;
}